<div class="main">
  <div class="modal-body" @fromTheBottom>
    <div class="header">
      <!-- <div class="header-line"></div> -->
      Sort & Filter
    </div>
    <div class="body">
      <ng-container *ngFor="let options of filterOptions">
        <div class="filter-title">
          {{options.title}}
        </div>
        <div class="filter-options">
          <ng-container *ngFor="let item of options.items">
            <div>
              <input type="checkbox" [id]="item.name" (click)="onClickFilter(item)"/>
              <label [for]="item.name" class="item-name" >{{ item.name }}</label>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="footer">
      <button class="skip" type="button">Reset</button>
      <button class="continue" type="submit" (click)="onApply()">Apply</button>
    </div>
  </div>
</div>