<!-- route -->
<div class="logo" *ngIf="showWelcomToMova">
    <img [@list2] src="assets/images/WhatsApp Image 2022-06-27 at 3.11.59 PM.jpeg">
</div>
<div class="text-center loading" *ngIf="showWelcomToMova">
    <div class="spinner-border text-danger" role="status">
    </div>
</div>

<div class="main" *ngIf="!showWelcomToMova">
    <div class="blur">
        <img src="assets/images/Auto Layout Horizontal.png">
        <div class="text">
            <h1>Welcome to Mova</h1>
            <p>The best movie streaming app of the century <br>to make your days grat!</p>
            <button routerLink="/registration">Get Started</button>
        </div>
    </div>
</div>