<div class="navbar" @fromTheBottom>
  <div routerLinkActive="active" class="item-nav" routerLink="'/'" >
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  </div>
  <div routerLinkActive="active" class="item-nav">
    <i class="fa-solid fa-magnifying-glass"></i>
    <span>Explore</span>
  </div>
  <div routerLinkActive="active" class="item-nav">
    <i class="fa-solid fa-list"></i>
    <span>My List</span>
  </div>
  <div routerLinkActive="active" class="item-nav">
    <i class="fas fa-download"></i>
    <span>Download</span>
  </div>
  <div routerLinkActive="active" class="item-nav">
    <i class="fa-solid fa-user"></i>
    <span>Profile</span>
  </div>
</div>
