<span nz-icon nzType="arrow-left" nzTheme="outline" class="fa-arrow-left" routerLink="/auth"></span>
<div class="main">
  <img src="assets/images/WhatsApp Image 2022-06-27 at 3.11.59 PM.jpeg" width="100px" />
  <div class="creat">{{ login ? "Login to" : "Create" }} Your Account</div>
  <div *ngIf="isLoading">
    <loading-spinner></loading-spinner>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit()" *ngIf="!isLoading">
    <nz-input-group [nzPrefix]="suffixIconSearch" class="input-auth">
      <input type="text" nz-input placeholder="Email" formControlName="email" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="mail" nzTheme="outline" class="icon-input"></span>
    </ng-template>
    <div *ngIf="error" class="error">{{error}}</div>
    <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="suffixIconpassword" class="input-auth">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Password"
        formControlName="password" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i class="icon-input" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
    <ng-template #suffixIconpassword>
      <span nz-icon nzType="lock" nzTheme="outline" class="icon-input"></span>
    </ng-template>
    <div *ngIf="errorPassword" class="error">{{errorPassword}}</div>

    <div class="Remember">
      <input class="form-check-input rememberCheckBox" type="checkbox" id="flexCheckDefault"
        formControlName="remember" />
      <span>Remember me</span>
    </div>
    <button class="sign-in" type="submit" [disabled]="formGroup.invalid">{{ login ? "Sign
      in" : "Sign up"
      }}</button>
  </form>
  <div class="forgot-password" *ngIf="login">Forgot the password?</div>
  <div class="continue-with">or continue with</div>
  <div class="icon-app">
    <span class="icon"> <i class="fa fa-facebook-f"></i> </span>
    <span class="icon"> <i class="fa fa-google fa-3x"></i> </span>
    <span class="icon"> <i class="fa fa-apple"></i> </span>
  </div>
  <div class="login">
    Already have an account?
    <span class="sign-up" (click)="login = !login">{{
      login ? "Sign up" : "Sign in"
      }}</span>
  </div>
</div>