.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .creat-account {
        color: rgb(151, 151, 151);
        font-size: 14px;
    }
    .creat {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 30px;
    }
    .sign-in {
        background-color: #c1232f;
        color: white;
        width: 90vw;
        height: 7vh;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px rgba(226, 18, 32, 0.267);
        margin-bottom: 20px;
    }
    .input-auth {
        margin-bottom: 20px;
        width: 90vw;
        height: 6vh;
        border: 1px solid rgb(247, 247, 247);
        border-radius: 10px;
    }
    .Remember {
        margin-bottom: 20px;
        input {
            border: 2px solid #c1232f;
            margin-right: 10px;
        }
    }
    .continue-with {
        margin-bottom: 15px;
    }
    .icon {
        border: 1px solid rgb(240, 240, 240);
        width: 100%;
        padding: 12px 0px;
        border-radius: 15px;
        margin: 5px;
    }
    .icon-app {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .sign-up {
        color: #e21221;
        font-weight: 600;
    }
    .login {
        color: rgb(151, 151, 151);
        font-size: 14px;
    }
    i {
        font-size: 18px;
    }
}
.fa-arrow-left {
    font-size: 18px;
    color: black;
    padding-top: 20px;
    padding-left: 20px;
}

.icon-input {
    color: #9e9e9e;
    border-radius: 20px;
    margin: 0px 5px;
}
.checkbox-warning-filled [type="checkbox"][class*="filled-in"]:checked + label:after {
    border-color: #ff8800;
    background-color: #ff8800;
}
.forgot-password{
    color: #e21221;
    font-weight: 500;
    margin-bottom: 10px;
}