.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .creat-account {
        color: rgb(151, 151, 151);
        font-size: 14px;
    }
    .creat {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 30px;
    }
    .sign-in {
        background-color: #c1232f;
        color: white;
        width: 90vw;
        height: 50px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 10px rgba(226, 18, 32, 0.267);
        margin-bottom: 25px;
    }
    .email {
        margin-bottom: 20px;
        width: 90vw;
        height: 40px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 10px;
    }
    .password {
        margin-bottom: 20px;
        width: 90vw;
        height: 40px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 10px;
    }
    .Remember {
        margin-bottom: 20px;
        input {
            border: 2px solid #c1232f;
            margin-right: 10px;
        }
    }
    .continue-with {
        margin-bottom: 30px;
    }
    .icon {
        border: 1px solid rgb(236, 236, 236);
        padding: 15px;
        border-radius: 15px;
        margin: 5px;
    }
    .icon-app{
        margin-bottom: 30px;
    }
    .sign-up {
        color: #e21221;
        font-weight: 600;
    }
    .login{
        color: rgb(151, 151, 151);
        font-size: 14px;
    }
}
