<!-- route -->
<div class="logo" *ngIf="showWelcomToMova">
    <img [@list2] src="assets/images/logo-mova.jpeg">
</div>
<loading-spinner *ngIf="showWelcomToMova"></loading-spinner>

<div class="main" *ngIf="!showWelcomToMova">
    <div class="blur">
        <img src="assets/images/Auto Layout Horizontal.png">
        <div class="text">
            <h1>Welcome to Mova</h1>
            <p>The best movie streaming app of the century <br>to make your days grat!</p>
            <button routerLink="/auth">Get Started</button>
        </div>
    </div>
</div>