.main {
    z-index: 1;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    position: relative;
    img {
        margin-top: -55%;
        z-index: -1;
        object-fit: cover;
        position: absolute;
        display: flex;
        justify-content: center;
        zoom: 70%;
    }
    .blur {
        height: 100vh;
        z-index: 1;
        background: rgb(0, 0, 0);
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9391106784510679) 0%,
            rgba(0, 0, 0, 0.5637605383950455) 54%,
            rgba(196, 196, 196, 0.12118350758272056) 68%,
            rgba(215, 215, 215, 0) 100%
        );
        display: flex;
        justify-content: center;
        .text {
            position: absolute;
            bottom: 30px;
            text-align: center;
            color: white;
            button {
                background-color: #e21221;
                color: white;
                width: 90vw;
                height: 50px;
                border-radius: 30px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.logo {
    width: 100vw;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 35vw;
    }
}

.loading{
    margin-top: 100px;
}