.main {
    padding: 15px 20px 80px 20px;
}

.fa-arrow-left {
    color: black;
    margin-right: 15px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.search {
    font-size: 1.5rem;
}

.notifications {
    margin-top: 1.2rem;
}

.containter-img img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.containter-img {
    width: 10rem;
    height: 8rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play {
    color: white;
    position: absolute;
    font-size: 1.2rem;
}


.detail-notif {

    padding: 1rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;

    .title-notif {
        text-overflow: ellipsis;
        white-space: nowrap; //nowrap
        font-size: 1rem;
        font-weight: bold;
        width: 7rem;
        overflow: hidden;
    }

    .notif-action {
        margin-top: 0.8rem;

        span {
            color: #E21021;
            background-color: #FDECEE;
            padding: 0.3rem 0.6rem;
            border-radius: 0.3rem;
            font-size: 0.7rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
        }
    }

    .episode {
        color: rgb(101, 101, 101);
        margin-top: 0.4rem;
    }
}

.date {
    font-size: 0.5rem;
    color: gray;
}

.notif {
    display: flex;
    width: 100%;
}