<div class="main">
    <div class="title">
        <span nz-col nz-icon nzType="arrow-left" nzTheme="outline" class="fa-arrow-left" routerLink="/mova"></span>
        <div nz-col>Notification</div>
    </div>
    <div class="notifications">
        <ng-container *ngFor="let notif of notifications">
            <div nz-row>
                <div nz-col class="containter-img">
                    <span nz-icon nzType="play-circle" nzTheme="fill" class="play"></span>
                    <img [src]="notif.url"></div>
                <div nz-col>
                    <!-- <div>
                        <div>{{notif.title}}</div>
                        <div>{{notif.episode}}</div>
                        <div> {{notif.action}}</div>
                    </div>
                    <div>{{notif.date}}</div> -->
                </div>
            </div>
        </ng-container>

    </div>
</div>