<filter-modal></filter-modal>
<div class="header">
    <div style="width: 90%; margin-right: 0.7rem;">
        <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input type="text" nz-input placeholder="Search" (keyup)="onKeyup($event)" />
        </nz-input-group>
        <ng-template #prefixTemplateUser>
            <span nz-icon nzType="search" nzTheme="outline" class="search">
            </span>
        </ng-template>
    </div>
    <div class="swap">
        <span nz-icon nzType="swap" nzTheme="outline"></span>
    </div>
</div>