.main {
    padding: 15px 0 0 20px;
}

nz-input-group {
    height: 2.7rem;
    padding: 0 1rem;
    background-color: #F5F5F5;
    border: none;
    border-radius: 0.8rem;
    border-color: none;
    box-shadow: none;

    input {
        background-color: #F5F5F5;
    }
}

.search {
    color: #C0C0C0;
    padding-right: 0.4rem;
    font-size: 1.3rem;
}

.swap {
    color: #E21021;
    background-color: #FDECEE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 0.8rem;

    span {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.header {
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

.filter-item {
    padding: 0px 20px;
    font-size: 0.7rem;
    height: 32px;
    font-weight: 700;
    border: 2px solid #e21221;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    color: #ffffff;
    margin-right: 0.5rem;
    white-space: nowrap;
    background-color: #e21221;
}

.filters {
    display: flex;
    overflow: auto;
    align-items: center;
}