<div class="main">
  <div class="title">
    <span nz-icon nzType="arrow-left" nzTheme="outline" [routerLink]="'/auth/' + authRoutes.AccountSetup"
      class="fa-arrow-left"></span>
    <div>Fill Your Profile</div>
  </div>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="main">
    <div class="profile">
      <img src="/assets/images/download.png" />
    </div>
    <nz-input-group class="input-profile">
      <input nz-input placeholder="Full Name" nzBorderless formControlName="fullName" />
    </nz-input-group>
    <!-- <nz-input-group class="input-profile">
      <input nz-input placeholder="Nickname" nzBorderless formControlName="nickName" />
    </nz-input-group> -->
    <nz-input-group class="input-profile" [nzSuffix]="suffixIconSearch">
      <input nz-input placeholder="Email" nzBorderless formControlName="email" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="mail" nzTheme="outline" class="mail"></span>
    </ng-template>
    <!-- <nz-input-group class="input-profile">
      <input nz-input placeholder="Phone Number" nzBorderless  />
    </nz-input-group> -->
    <nz-input-group class="input-profile" [nzPrefix]="phoneNumber">
      <input nz-input placeholder="Phone Number" nzBorderless formControlName="phoneNumber" />
    </nz-input-group>
    <ng-template #phoneNumber>
      <div>+98</div>
    </ng-template>
    <nz-select id="gender" nzPlaceHolder="Gender" nzBorderless formControlName="gender">
      <nz-option nzValue="male" nzLabel="male"></nz-option>
      <nz-option nzValue="female" nzLabel="female"></nz-option>
    </nz-select>
  </div>
  <div class="footer">
    <button class="skip" type="button">Skip</button>
    <button class="continue" type="submit" [disabled]="formGroup.invalid">Continue</button>
  </div>

</form>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>