<div class="main">
    <div class="title">
        <span nz-icon nzType="arrow-left" nzTheme="outline" class="fa-arrow-left" routerLink="/auth"></span>
        <div>Forgot Password</div>
    </div>
    <div *ngIf="!hasOtp">
        <div class="img">
            <img src="assets/images/WhatsApp Image 2022-07-23 at 6.11.23 PM.jpeg" width="300px">
        </div>
        <div>select which contact details should we use to reset your password</div>
        <div class="continue" (click)="onClickContinue()">continue</div>
        <div>
            <div class="select-item" nz-row>
                <div nz-col class="icon">
                    <span nz-icon nzType="message" nzTheme="outline"></span>
                </div>
                <div nz-col class="title-select">
                    <div class="via">
                        via SMS :
                    </div>
                    <div>
                        +989210181098
                    </div>
                </div>
            </div>
            <div class="select-item" nz-row>
                <div nz-col class="icon">
                    <span nz-icon nzType="mail" nzTheme="outline"></span>
                </div>
                <div nz-col class="title-select">
                    <div class="via">
                        via Email :
                    </div>
                    <div>
                        mina.azizz7872@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="hasOtp">
        <div class="send-otp">
            <div>
                Code has been send to +989210181098
            </div>
            <ngx-otp-input style="justify-content: center;display: flex;" [config]="otpInputConfig"
                (otpChange)="onChange($event)"></ngx-otp-input>
            <div style="margin-top: 2rem;">
                Resend code in <span style="color:rgb(232, 29, 29)">{{secound}}</span> s
            </div>
        </div>
        <div class="continue" (click)="VerifyOtp()">Verify</div>
    </div>
</div>