<!-- icon back / route / icon input / icon continue   -->
<div>
    <div class="main">
        <img src="assets/images/WhatsApp Image 2022-06-27 at 3.11.59 PM.jpeg" width="100px">
        <div class="creat">Login to Your Account</div>
        <input type="email" class="email">
        <input type="password" class="password">
        <div class="Remember">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <span>Remember me</span>
        </div>
        <div class="sign-in">Sign in</div>
        <div class="continue-with">or continue with</div>
        <div class="icon-app">
            <span class="icon">icon</span>
            <span class="icon">icon</span>
            <span class="icon">icon</span>
        </div>
        <div class="login">Already have an account?
            <span class="sign-up" routerLink="/registration/sign-up">Sign up</span>
        </div>
    </div>
</div>