<div class="main">

    <div class="title">
        <span nz-icon nzType="arrow-left" nzTheme="outline" class="fa-arrow-left"
            routerLink="/auth/forgot-password"></span>
        <div>Creat New Password</div>
    </div>
    <div class="img">
        <img src="assets/images/creat-new-password.png" width="300px">
    </div>
    <div style="margin-top:3rem;">Creat Your New Password</div>
    <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplateUser">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="New Password"
            [(ngModel)]="password" />
    </nz-input-group>
    <ng-template #suffixTemplate>
        <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"
            nzTheme="fill"></span>
    </ng-template>
    <ng-template #prefixTemplateUser><span nz-icon nzType="lock" nzTheme="fill"></span></ng-template>
    <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplateUser">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="New Password"
            [(ngModel)]="password" />
    </nz-input-group>
    <ng-template #suffixTemplate>
        <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"
            nzTheme="fill"></span>
    </ng-template>
    <ng-template #prefixTemplateUser><span nz-icon nzType="lock" nzTheme="fill"></span></ng-template>
    <div class="rememberCheckBox">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault" />
        <span>Remember me</span>
    </div>
    <div class="continue" (click)="AddnewPassword()">Continue</div>
</div>